Level 1/Format books/Level 1C/Version 1.3/Schemas/TILE_METADATA_V1_3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="https://schemas.farearth.space/products/l1c/tile-meta-xml" xmlns:n1="https://schemas.farearth.space/products/l1c/tile-meta-xml" xmlns:schemaLocation="https://raw.githubusercontent.com/pinkmatter/farearth-docs/refs/heads/main/Level%201/Format%20books/Level%201C/Version%201.3/TILE_METADATA_V1_3.xsd" xmlns:tns="https://schemas.farearth.space/products/l1c/tile-meta-xml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <xs:element name="Level-1C_TileMetaData" type="tns:xmlL1CTileMetaData"/>

  <xs:complexType name="xmlL1CTileMetaData">
    <xs:sequence>
      <xs:element name="General_Info" type="tns:xmlGeneralInfo" minOccurs="0"/>
      <xs:element name="Geometric_Info" type="tns:xmlGeometricInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlGeneralInfo">
    <xs:sequence>
      <xs:element name="TILE_ID" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="DATASTRIP_ID" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="SENSING_TIME" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="PROCESSING_TIME" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlGeometricInfo">
    <xs:sequence>
      <xs:element name="Tile_Geocoding" type="tns:xmlTileGeocoding" form="unqualified" minOccurs="0"/>
      <xs:element name="Tile_Angles" type="tns:xmlTileAngles" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlTileGeocoding">
    <xs:sequence>
      <xs:element name="HORIZONTAL_CS_NAME" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="HORIZONTAL_CS_CODE" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="Size" type="tns:xmlBandSize" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Geoposition" type="tns:xmlBandPosition" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlBandSize">
    <xs:sequence>
      <xs:element name="NROWS" type="xs:int" form="unqualified"/>
      <xs:element name="NCOLS" type="xs:int" form="unqualified"/>
    </xs:sequence>
    <xs:attribute name="resolution" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xmlBandPosition">
    <xs:sequence>
      <xs:element name="ULX" type="xs:double" form="unqualified"/>
      <xs:element name="ULY" type="xs:double" form="unqualified"/>
      <xs:element name="XDIM" type="xs:double" form="unqualified"/>
      <xs:element name="YDIM" type="xs:double" form="unqualified"/>
    </xs:sequence>
    <xs:attribute name="resolution" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xmlTileAngles">
    <xs:sequence>
      <xs:element name="Sun_Angles_Grid" type="tns:xmlSunAnglesGrid" form="unqualified" minOccurs="0"/>
      <xs:element name="Mean_Sun_Angle" type="tns:xmlAngle" form="unqualified" minOccurs="0"/>
      <xs:element name="Viewing_Incidence_Angles_Grids" type="tns:xmlViewingIncidenceAngleGrid" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Mean_Viewing_Incidence_Angle_List" type="tns:xmlMeanIncidenceAngleList" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlSunAnglesGrid">
    <xs:sequence>
      <xs:element name="Zenith" type="tns:xmlSteppedGrid" form="unqualified" minOccurs="0"/>
      <xs:element name="Azimuth" type="tns:xmlSteppedGrid" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlSteppedGrid">
    <xs:sequence>
      <xs:element name="COL_STEP" type="tns:xmlUnitValue" form="unqualified" minOccurs="0"/>
      <xs:element name="ROW_STEP" type="tns:xmlUnitValue" form="unqualified" minOccurs="0"/>
      <xs:element name="Values_List" type="tns:xmlValueList" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlUnitValue">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="unit" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="xmlValueList">
    <xs:sequence>
      <xs:element name="VALUES" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlAngle">
    <xs:sequence>
      <xs:element name="ZENITH_ANGLE" type="tns:xmlUnitValue" form="unqualified" minOccurs="0"/>
      <xs:element name="AZIMUTH_ANGLE" type="tns:xmlUnitValue" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlViewingIncidenceAngleGrid">
    <xs:sequence>
      <xs:element name="Zenith" type="tns:xmlSteppedGrid" form="unqualified" minOccurs="0"/>
      <xs:element name="Azimuth" type="tns:xmlSteppedGrid" form="unqualified" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="bandId" type="xs:string"/>
    <xs:attribute name="detectorId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xmlMeanIncidenceAngleList">
    <xs:sequence>
      <xs:element name="Mean_Viewing_Incidence_Angle" type="tns:xmlBandedAngle" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="xmlBandedAngle">
    <xs:complexContent>
      <xs:extension base="tns:xmlAngle">
        <xs:sequence/>
        <xs:attribute name="bandId" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

